/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 $blue: #21759b;
 $bluebackground: rgba(33,117,155,0.3);

 .wp-block-bootstrapblocks-containerfluid {
   border: 2px solid $blue !important;
   background: $bluebackground;
 }
