/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 $blue: #21759b;
 $bluebackground: rbga(33, 117, 155,0.3);

 .wp-block-bootstrapblocks-button {
   border: 2px solid $blue !important;
   background: $bluebackground;
 }
